{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="article">
     {% for article in articles %}
            <article>
                    <h2>{{ article.title }}</h2>
                    <div class="meta-data">
                    Ecrit {{ article.createdAt | date('d/m/Y') }} a {{ article.createdAt | date('H:i') }} dans la catégorie politique
                    </div>
                    <div class="content">
                        <img src="{{ article.image }}" alt=""/>
                        {{ article.content | raw }}
                    </div>
                    <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">lire la suite</a>
                    {% if app.user %}
                   
                    {% else %}
                    <a href="{{ path('blog_edit',{'id':article.id}) }}" class="btn btn-primary">edit</a>
                    {% endif %}
            </article>  
        {% endfor %}
        
</section>
{% endblock %}
